/* Main CSS file */
@import url("https://fonts.googleapis.com/css?family=Roboto");


* {
	font-family: "Roboto", cursive;
	user-select: none;

}

div#App {
	display: grid;
	grid-template-areas: "menu component";
	grid-template-columns: 2fr 8fr;
	grid-gap: 0.5rem;
	/*Git test Ssh*/
	background: #212121;
}

div#currentComponent {
	grid-area: component;
	/*background: #161616;*/
	margin: 2rem;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

div#currentComponent > div {
	padding: 1rem
}

div#menu {
	grid-area: menu;
	display: grid;
}


.components {
	background-color: #33333333;
	color: white;
}

body, html, div#root, div#App {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

